/target
/.settings
/.project
/.classpath
/desktop.ini
/logs
/user-management/target
/user-management/.settings
/user-management/.project
/user-management/.classpath
/rest-service/target
/rest-service/.settings
/rest-service/.project
/rest-service/.classpath
/rest-web-client/target
/rest-web-client/.settings
/rest-web-client/.project
/rest-web-client/.classpath
/soap-service/target
/soap-service/.settings
/soap-service/.project
/soap-service/.classpath