/target
/.settings
/.project
/.classpath
/desktop.ini
/user-management/target
/user-management/.settings
/user-management/.project
/user-management/.classpath
/ticket-management/target
/ticket-management/.settings
/ticket-management/.project
/ticket-management/.classpath