/target
/.settings
/.project
/.classpath
/desktop.ini
/user-management/target
/user-management/.settings
/user-management/.project
/user-management/.classpath
/user-management/src/main/java/by/epam/naumovich/rw_tickets/dao/Main.java